/*
!.gitignore

!panel/

panel/whiskermenu*.rc
panel/xfce4-clipman*

!terminal/
terminal/*
!terminal/terminalrc

!xfconf
xfconf/xfce-perchannel-xml/*
!xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!xfconf/xfce-perchannel-xml/xfce4-panel.xml