[General]
Small_Spacings=true
Cover_All_Panel_Rows=true
Lines_Size=1
Preferred_Height=410
Number_Chips=7

[Chip0]
Name=iwlwifi_1-0
Number=0

[Chip1]
Name=nvme-300
Number=1

[Chip1_Feature0]
Address=0
Name=NVME
Color=#00B000
Show=true
Min=41.849998474121094
Max=41.849998474121094

[Chip2]
Name=coretemp-0
Number=2

[Chip2_Feature0]
Address=0
Name=CPU
Color=#00B000
Show=true
Min=0
Max=68

[Chip3]
Name=pch_cannonlake-0
Number=3

[Chip4]
Name=BAT0-0
Number=4

[Chip5]
Name=ACPI
Number=5

[Chip6]
Name=nvidia
Number=6

[Chip6_Feature0]
Address=0
Name=NVIDIA
Show=true
Min=20
Max=80

